@page
@model Tema_VLADULESCU_GABRIEL.Pages.CinemaLocations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CinemaLocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CinemaLocation.ID" />
            <div class="form-group">
                <label asp-for="CinemaLocation.Location" class="control-label"></label>
                <input asp-for="CinemaLocation.Location" class="form-control" />
                <span asp-validation-for="CinemaLocation.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaLocation.CinemaID" class="control-label"></label>
                <select asp-for="CinemaLocation.CinemaID" class="form-control" asp-items="ViewBag.CinemaID"></select>
                <span asp-validation-for="CinemaLocation.CinemaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CinemaLocation.CountyID" class="control-label"></label>
                <select asp-for="CinemaLocation.CountyID" class="form-control" asp-items="ViewBag.CountyID"></select>
                <span asp-validation-for="CinemaLocation.CountyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
