@page
@model Tema_VLADULESCU_GABRIEL.Pages.MovieGenres.IndexModel

@{
    ViewData["Title"] = "Genuri Filme";
}

<h1>Listă Genuri Filme</h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-primary" asp-page="Create">Adaugă Gen Film</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieGenre[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MovieGenre) {
        <tr>
            <td style="vertical-align: baseline;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="display: flex;justify-content:end;">
                <div>
                   <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.ID">Edit</a>
                   <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.ID">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
