html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.emptypng {
    background-image: url(../images/empty.png);
    width: 32px;
    height: 32px;
    background-size: contain;
}

.smileypng {
    background-image: url(../images/empty.png);
    width: 32px;
    height: 32px;
    background-size: contain;
}

.donesmileypng {
    background-image: url(../images/empty.png);
    width: 32px;
    height: 32px;
    background-size: contain;
}
